@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./neko.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

h2 {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.block {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #e0c1ff5b;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.2),
    inset 10px 10px 20px #fff;
}

.a {
    width: 100px;
    height: 100px;
    background-image: url(./nikukyu.png);
    background-size:cover;
    background-position: center;
}